<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/aboutus.css">
    <title>About Us</title>
</head>
<body>
    <header>
        <a href="/"><h2 class="home">Placement Cell</h2></a>
        <nav>
            <ul class = "nav_links">
                <li class="tag"><a href="/loginPage">Login</a></li>
                <li class="tag"><a href="/registerStudent">Student Register </a></li>
                <li class="tag"><a href="/registerCompany">Company Register </a></li>
                <li class="tag"><a href="/aboutus">About Us</a></li>
            </ul>
        </nav>
    </header>
    <div class="spc"></div>
    <section class="main">
        <div class="container">
            <p>
                Our placement cell is a dedicated team of professionals who are committed to helping our students achieve their career goals. We understand the importance of finding the right job and the impact it can have on a student's future. Therefore, our team works tirelessly to ensure that our students receive the best guidance, training, and support to make them industry-ready.

            </p>
            <p>
                Our placement cell offers a wide range of services that are tailored to meet the needs of each student. We have a team of experienced career counselors who provide one-on-one guidance to help students identify their strengths, interests, and career aspirations. We also conduct regular training sessions and workshops to help students improve their communication skills, aptitude, and technical knowledge.
            </p>
            <p>

                We have established strong relationships with leading organizations in various industries, and our team works closely with them to ensure that our students have access to the best career opportunities. Our placement cell is proud to have a track record of placing our students in top-notch companies, both in India and abroad.

                At our placement cell, we strive to provide our students with the best possible opportunities to achieve their career goals. We believe in empowering our students with the knowledge and skills required to excel in their chosen fields, and we are committed to their success.
            </p>
        </div>
    </section>

    <div class="contact">
        <h2>Contact Details : </h2>
        <br>
        E-Mail : <li>placement@institute.ac.in</li>
                <li>placement_manager@institute.ac.in</li>
        <br>
        Phone:
        <li>(O)+91 (00) 00000000</li>
        <li>(M) +0 00000 00000</li>
    </div>
    <footer>
        &copy; 2023 Placement Website. All Rights Reserved.
    </footer>
</body>
</html>