<!doctype html>
<html lang="en">

<head>
  <title>Update Password</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css"
    integrity="sha512-9YHSK59/rjvhtDcY/b+4rdnl0V4LPDWdkKceBl8ZLF5TB6745ml1AfluEU6dFWqwDw9lPvnauxFgpKvJqp7jiQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/edit_profile.css">

</head>

<body>

  <!-- <div id="navbar">

      <nav>
        <span>frnk</span>
        <span>frnk</span>
        <span>frnk</span>
        <span>frnk</span>
      </nav>
    </div> -->

  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
      </div>
      <div class="img bg-wrap text-center py-4" >
        <div class="user-logo">
          <div class="img" style="background-image: url(/images/admin.png);"></div>
          <% if(isSuperAdmin) {%>
            <h3>Placement Manager</h3>
        <% } else {%>
            <h3>Admin</h3>
        <% }%>
        </div>
      </div>
      <ul class="list-unstyled components mb-5">
        
        <li>
          <a href="/profile"><i class="fa fa-line-chart mr-3" aria-hidden="true"></i> Admin Statistics</a>
        </li>
        <li class="active">
            <a href="/updatePassword"><i class="fa fa-cloud-upload mr-3 " aria-hidden="true"></i> Update Password</a>
          </li>
        <li>
          <a href="/unverifiedstudents"><i class="fa fa-check mr-3" aria-hidden="true"></i> Verify Students</a>
        </li>
        <li>
          <a href="/adminInterviewSchedule"><i class="fa fa-pencil-square-o mr-3" aria-hidden="true"></i>Schedule Jobs</a>
        </li>
        <li>
          <a href="/unverifiedjobs"><i class="fa fa-briefcase mr-3" aria-hidden="true"></i> Verify Jobs</a>
        </li>
        <% if(isSuperAdmin==true) {%>
          <li>
            <a href="/unverifiedcompany"><i class="fa fa-building-o mr-3" aria-hidden="true"></i> Verify Company</a>
          </li>
          <% } %>
            <li>
              <a href="/adminStudents"><span class="fa-solid fa-list mr-3"></span> Student list</a>
            </li>
            <li>
              <a href="/adminJobs"><span class="fa-solid fa-list mr-3"></span> Job list</a>
            </li>

            <li>
              <a href="/adminCompany"><span class="fa-solid fa-list mr-3"></span> Company list</a>
            </li>

            <li>
              <a href="/datasheet"><span class="fa fa-solid fa-download mr-3"></span> Datasheet</a>
            </li>
            <li>
              <a href="/logout"><span class="fa fa-sign-out mr-3"></span> Logout</a>
            </li>
      </ul>

    </nav>


    <div id="Profile" class="p-4 p-md-5 pt-5">

      <div class="userimage">
        <h2 class="mb-4"> Update Password </h2>
      </div>
      <form action="/adminUpdatePassword" method="POST">

        <table class="table table-hover">
          <tr>
            <td> Enter Old Password </td>
            <td>:</td>
            <td> <input pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" required type="password" name="password"  placeholder="Old Password"> </td>
          </tr>
          <tr>
            <td> Enter New Password </td>
            <td>:</td>
            <td> <input pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" required type="password" name="newPassword" placeholder="New Password"> </td>
          </tr>
          <tr>
            <td> Confirm New Password </td>
            <td>:</td>
            <td> <input pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" required type="password" name="newConfirmPassword" placeholder="Confirm Password"> </td>
          </tr>
        </table>

        <!-- <input type="submit" name="Save"> -->
        <button class="submit" type="submit">Save Password</button>
      </form>

    </div>
  </div>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>

</html>