<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/404-2.css">
    <link rel="stylesheet" href="/css/error.css">
    <title>ERROR</title>
</head>
<body>
    
    <div class="container">
        <img src="/images/error.png" alt="..." class="img-fluid">
        
        <div class="error1"> <%= message %> </div>
        <a href="/"> <div class="home"> Back to Home </div> </a> 
        <!-- <a style="text-decoration: none;" href="/home">
            <button type="submit" class="button3" style="align-self: center;"> Back to Home </button> </a> -->
    </div>
</body>
</html>