@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

body{
    background-color: lightcyan;
}
.img-fluid{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;

    
}

.error1{
    text-align: center;
    color: #2F2D51;
    font-size: 2em;
    font-family: 'Jost', sans-serif;
    margin-top: 1em;
    margin-bottom: 0.2em;
}

.error2{
    font-size: 1.2em;
    font-family: 'Jost', sans-serif;
    color: #1c4063;
    margin: 0em 0em 1.3em;
    text-align: center;
}

.home{
    color: #196ECD;
    text-align: center;
    font-size: 1.2em;
    text-decoration: underline;
 }