table {
  border-collapse: collapse;
  width: 80%;
  box-shadow: 0 .5em 1em -.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
  border: 2px solid #badafa;
  margin-left: 10%;
}

th,
td {
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #08335c;
  margin: 5px;
}

h2 {
  text-align: center;
}

th {
  background-color: #badafa;
}

.btn {
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin: 0px;
}

tr:hover {
  background-color: #dfedff;
}



.accept:hover {
  color: #4CAF50;
  background-color: white;
  border-top: 3px solid #4CAF50;
  border-bottom: 3px solid #4CAF50;
}

.reject:hover {
  color: #f44336;
  background-color: white;
  border-top: 3px solid #f44336;
  border-bottom: 3px solid #f44336;
}

input[type="date"] {
  background-color: #2f779d;
  padding: 5px;
  position: static;
  color: #ffffff;
  font-size: 12px;
  border: none;
  outline: none;
  border-radius: 5px;
}

::-webkit-calendar-picker-indicator {
  background-color: #2f779d;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}