* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: lightcyan; */
    background-color: antiquewhite;
    background: linear-gradient(to right, #267871, #136a8a);
}

.table {
    margin-top: 20px;
}

i{
    margin: 10px;
    margin-left: 0px;
}

.btn {
    width: 10%;
    margin-left: 0px;
}

#Comany-Profile {
    /* margin: 15px; */
    margin: auto;
    margin-top: 50px;
    width: 60%;
    /* background-color: antiquewhite; */
    /* background-color: lightcyan; */
    background-color: white;
    display: inline-block;
    /* box-shadow: 0 .5em 1em -.125em rgba(10, 10, 10, .1), 0 0 0 10px rgba(10, 10, 10, .02); */
    box-shadow: 0 .5em 1em -.125em black, 0 0 0 10px rgba(10, 10, 10, .02);
}

#sidebar {
    height: 100vh;
}

#navbar {
    /* margin: auto; */
    /* width: 50%; */
    border: 3px solid green;
    padding: 10px;
    text-align: end;
}

.userimage {
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
}

#photo {
    width: 150px;
    height: 150px;
    padding: 10px;
}

.table>tbody>tr>td {
    font-size: 15px;
}

a {
    margin-left: 5px;
}

.button{
    padding: 2px 5px;
}