* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, sans-serif;
}


.container {
    width: 100%;
    height: auto;
    display: flex;
    /* background-color: lightcoral; */
}

#form-container {
    margin: 50px auto;
    border: 1px solid black;
    background-color: rgb(147, 147, 156);
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    width: 50%;
}

form div {
    padding: 5px;
}

.gender {
    display: flex;
    align-items: center;
    /* padding: 15px; */
}
label{
    margin: 10px;
}

/* input::-webkit-outer-spin-button, */
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input {
    width: 100%;
    height: 40px;
    padding: 5px 5px;
    border-radius: 10px;
}


input[type=submit] {
    width: 50%;
    margin-left: 25%;
    height: 40px;
    /* background-color: #9C9C93; */
}

h1 {
    margin: 10px auto;
    text-align: center;
    font-size: 40px;
}


/* navbar css*/

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #5b5b5b;
    color: #fff;
    text-align: center;
}